.myclass{
  margin-top: 100px;
}
.toolTip {
  position: absolute;
  width: 135px;
  height: 30px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #1aafa7;
  border: 0;
  border-radius: 10px;
}

.filters {
  margin-top: 10px;
}


#table-area th {
  text-align: center;
}

.margin-top-50 {
  margin-top: 50px;
}