<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Civil War Monuments</title>

   <!-- our style.css sheet -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- mapbox-gl  -->
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />

    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navstyle.css') }}">
   
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-toggle.css') }}">
   <!-- Bootstrap template dependencies  -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
   <link rel="stylesheet" href="/static/css/style.css">
   <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <meta name="description" content="">
         <meta name="author" content="">
         <title>Freelancer - Start Bootstrap Theme</title>
         <!-- Font Awesome icons (free version)-->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
         <!-- Core theme CSS (includes Bootstrap)-->
         <link href="/static/css/styles.css" rel="stylesheet">
         <!-- Fonts CSS-->
         <link rel="stylesheet" href="/static/css/heading.css">
         <link rel="stylesheet" href="/static/css/body.css">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
         <link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet">
         <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
        
        </head>
<!-- new nav bar -->
<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Civil War Monuments </a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#ABOUT">ABOUT</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#VISUALIZATION">VISUALIZATION</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#DATA">DATA</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column"></div>
           
           <!-- Masthead Heading-->
           <h1 class="masthead-heading mb-0">The Battle Over War Monuments</h1>
           <br>
                
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                   <!-- Masthead Subheading-->
                   <p style="color:rgb(255, 255, 255);" class="pre-wrap masthead-subheading font-weight-light mb-0">contests over Civil War symbols and memorials have divided the country for more than 150 years.</p>
                   <br>
           <!-- parallax banner -->
            <div class="parallax" data-parallax="scroll" data-z-index="1" speed="0.4" position= "center bottom"
             data-image-src="/static/img/200613-robert-e-lee-statue-virginia-al.webp"></div>
              <!-- <div class="spacing"></div> -->
              <meta name="viewport" content="width=device-width, initial-scale=1">
             
            </div>
        </header>
        <!-- about-->
<section id="ABOUT"></section>
<section class="page-section bg-primary text-white mb-0">
    <!-- <div class="container"> -->
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <section>
            <div class="container">
               
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <img class="img-fluid rounded-circle" src="static/img/fight_over_history2.webp" alt="">
                            <figcaption class="left ml-gutter mr-gutter mr-auto-ns ml-auto-ns gray-dark font--subhead font-xxxs mt-xs mb-sm"
                                    style="color: #666; text-align: left;">(REUTERS/Jonathan Ernst) 
                                    </figcaption> 
                        </div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 style="text-align: center;"class="display-4">Why these Monuments matter</h2>
                            <hr>
                            <p style="color:rgb(255, 255, 255);">Confederate monuments are facing renewed scrutiny as protesters, angered by the death of George Floyd in police custody in Minneapolis
                                “The conversation has never really died,” said Lecia Brooks, outreach director at the Southern Poverty Law Center in Montgomery, Ala.
                            <br><br>
                                This is not the first time these efforts have been made to take down these monuments </p>
                        </div>
                        </div>
                    </div>
                
            </div>
          </section>

        <!-- About Section Content-->
          <!-- <section> -->
            <div style="background-color: #ff8800c2!important;" class="container">
                <!-- <div class="box"> -->
                    <div   class="row align-items-center">
                        
                        <div class="col-lg-6">
                        <div class="p-5">
                            <img class="img-fluid rounded-circle" src="static/img/daughtersof the confederacy scrawl.webp" alt="">
                            <figcaption class="left ml-gutter mr-gutter mr-auto-ns ml-auto-ns gray-dark font--subhead font-xxxs mt-xs mb-sm"
                            style="color: rgb(0, 0, 0); text-align: left;">(Fran Daniel / journal) 
                            </figcaption>
                                    
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="p-5">
                            <h2 style="text-align: center;" class="display-4">The When and Why</h2>
                            <hr>
                            <p style="color:rgb(255, 255, 255)"> “Eventually they started to build [Confederate] monuments, the vast majority of them were
                                 built between the 1890s and 1950s, which matches up exactly with the era of Jim Crow segregation.”  -Mark Elliott
                                 <br>
                                    According to the 
                                 Southern Poverty Law Center’s research, the biggest spike was between 1900 and the 1920s.<a  href="#VISUALIZATION" class="js-scroll-trigger";>as shown here</a>
                                 <br><br>
                                It may surprise you to learn that Civil War monuments make up the second largest category of U.S. 
                                monuments second only to Settlements & Settlers. <a  href="#hmdb_table" class="js-scroll-trigger";>As shown in fig 3</a> 
                                </p>
                        </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
          <!-- </section> -->
        
          <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                  <div class="p-5">
                    <img class="img-fluid rounded-circle" src="static/img/spraypaint.webp" alt="">
                    <figcaption class="left ml-gutter mr-gutter mr-auto-ns ml-auto-ns gray-dark font--subhead font-xxxs mt-xs mb-sm"
                                    style="color: #666; text-align: left;">(Steve Helber / AP) 
                                    </figcaption> 
                  </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                    <h2 style="text-align: center;" class="display-4">Place In our History</h2>
                    <hr>
                    <p style="color: rgb(255, 255, 255);">The civil war occupies a unique place in U.S. history, it had the highest Death toll of any war in U.S.
                         history. And the ripples of that cultural rift can still be felt today. Recently the discussion over 
                         some of the monuments of that war has come to the forefront of political debate in this country. As well
                         as becoming a symbol to protest against .</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div style="background-color: #ff8800c2!important;" class="container">
            <!-- <div class="box"> -->
                
            <!-- </div> -->
        </div>
        </section>

        <div   class="row">
            <!-- <div class="box">
                   <div class="p-5"> -->
                       <!-- <img class="img-fluid rounded-circle" src="static/img/fight_over_history2.webp" alt="">  -->
                       
           
           
           <!-- <div class="col-lg-6"> -->
            <div style="text-align: center; margin: auto;" class="p-5">  
                <br>
               <h2 style="text-align: center;" class="display-4">Data Sources</h2>
               <hr>
               <p style="text-align: center; color: rgb(0, 0, 0);">  The two Data soruces we used in this project are <a href="https://www.hmdb.org/results.asp?FilterTown=&FilterCounty=&FilterState=&FilterCountry=&CategoryID=15" >The Historical Markers Database's collection of Civil War monuments</a>   
                and the Southern Poverty Law Center's <a href="https://www.splcenter.org/20190201/whose-heritage-public-symbols-confederacy" >whose heitage is it anyway</a>
                </p>
           </div>
           
        </div>
        </div>
       </div>
    </section> 
        <section class="page-section portfolio" id="VISUALIZATION">
    <div class="container">
        <div class="text-center">
        <h2 class="page-section-heading d-inline-block">Swap Data Sets</h2>
            <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <input type="checkbox" id="dataSwitch" data-toggle="toggle" 
        data-on="Monument Database" data-off="Whose Heritage" 
        onChange="toggleCheck()">
        </div>

        <!-- Content Section -->
        <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true"></div>
        <script>setTimeout(function(){ confed(); }, 3500);</script>
            <br>
            <br>
            <br>
            <script>
            function stickyheaddsadaer(obj) {
                if($(obj).is(":checked")){
                alert("Yes checked"); //when checked
                $("#page-header-inner").addClass("sticky");
                }else{
                alert("Not checked"); //when not checked
                }}
            </script>
        <div class="container">
                <div class="row">
                <div class="col-lg-6" >
                    <!-- Left box  -->
                    <div class="box">
                    <h3 style="text-align: center;" class="title">Civil War Monuments Location Map</h3>
                    <hr>
                    
                    <!-- <p>Map1</p> -->
                        <div id="map" style="width: 700px; height: 400px;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Right Box -->
                    <div class="box">
                    <h3 style="text-align: center;" class="title">Civil War Monuments Erected Over Time</h3>
                    <hr>

                    <!-- scatter plot -->
                            <div id="scatter"></div>
                    </div>
                </div>
                </div>
                  
                <div class="row">
                    <div class="col-lg-6" >
                    <!-- Left box  -->
                    <div class="box">
                        <h3 style="text-align: center;" class="title">Monuments by Topic</h3>
                        <hr>
                        <!-- SVG area -->
                        <div id="svg-area" ></div>
                    </div>
                    </div>
                
                <div class="col-lg-6" >
                    <div class="box">
                        <h3 style="text-align: center;" class="title">Pie Chart</h3>
                        <hr>
                        <h5>Monuments Categories</h5>
                        <select id="selDataset" onchange="getData(this.value)">
		                <option value="war">War</option>  
		                <option value="non_war">Non-War</option></select>
                            <div style="color:black; width: 700px; height: 400px;" id="pie"></div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        </section>
        <section>
            <section class="page-section bg-primary text-white mb-0" id="DATA">
                <div class="text-center">
                    
                    <h2 class="page-section-heading d-inline-block text-white">DATA</h2>
                </div>
                 <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="container"></div>
                    <div class="text-center">
                        <form>
                            <button type="button" name="load_data" id="load_data1" class="btn btn-info">Load Historical Monument Data</button>
                            <button type="button" name="load_data" id="load_data2" class="btn btn-info">Load Whose Heritage Data</button>
                        </form>
                    </div>
                </div>
            </section>
                
                <br>
                <br>
                <div class="col-md-12">
                    <div id="hmdb_table" class="table_format">      
                </div>
            </section>
        
        <script src="{{ url_for('static', filename='js/download.js') }}"></script>
       
        <div class="row justify-content-center">
    </div>
    
    </div>

    
</section> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

<section>
    <footer class="footer text-center">
        <!-- <div class="container"> -->
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">Contributors </h4>
                    <p style="text-align: center; color:rgb(255, 255, 255)" class="pre-wrap lead mb-0">
                        John Razzell,
                        Niha Manduri,
                        Criselda Dimacali,
                        Terry Kezer </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/StartBootstrap"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/sbootstrap"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/startbootstrap"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.dribble.com/startbootstrap"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="mb-4">ABOUT FREELANCER</h4>
                    <p class="pre-wrap lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by Start Bootstrap</p>
                </div>
            </div>
        </div>
    </footer>

</section>       
   <!-- D3 -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script> -->

    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>

    <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <!-- API Key -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>

    <!-- Our JavaScript -->
    <!-- <script type="text/javascript" src="/static/js/logic.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <!-- Toggle Switch CSS/JS -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>



  <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
  <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Contact form JS-->
  <!-- <script src="/static/mail/jqBootstrapValidation.js"></script> -->
  <!-- <script src="/static/mail/contact_me.js"></script> -->
  <!-- Core theme JS-->
  <script src="/static/js/scripts.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/graph_logic.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logic3.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
  <script src='https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js'></script>
  <script src='https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js'></script>
  <script src='https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js'></script>
  <script src="/static/js/parallax.js"></script>
  <script src="static/js/data.js"></script>
    <script src="static/js/plot.js"></script>
</body>

</html>
