<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Civil War Monuments</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
  <!-- mapbox-gl  -->
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

    <!-- Our CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navstyle.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

   <link rel="stylesheet" href="style.css">
    
</head>
<!-- this is a test -->
<body>

   <!-- The div that holds our map -->
   <!-- <div id="map"></div> -->
    
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Civil War Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/about">About</a>
                    <a class="nav-item nav-link" href="/download">Download Data</a>
                </div>

                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Search</a>
                </div>
            </div>
        </div>
    </nav>

        <!-- Content Section -->
    
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Civil War Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/about">About</a>
                    <a class="nav-item nav-link" href="/download">Download Data</a>
                </div>

                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Search</a>
                </div>
            </div>
        </div>
    </nav>

        <!-- Content Section -->
        <body onload="toggleCheck()">
<br>
<br>
<br>
<script>
  function stickyheaddsadaer(obj) {
    if($(obj).is(":checked")){
      alert("Yes checked"); //when checked
      $("#page-header-inner").addClass("sticky");
    }else{
      alert("Not checked"); //when not checked
    }
    
  }
</script>
<div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12" >
        <!-- Left box  -->
        <div class="box">
          <h3 class="title">Civil War Monuments</h3>
          <input type="checkbox" id="dataSwitch" data-toggle="toggle" 
      data-on="Monument Database" data-off="Who's Heritage" 
      onChange="toggleCheck()">
          <!-- <p>Map1</p> -->
          

            <div id="map" style="width: 650px; height: 350px;"></div>
          
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <!-- Right Box -->
        <div class="box">
          <h3 class="title">Civil War Monuments Erected Over Time</h3>
         <hr>
         <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-12">
                  <!-- <h1>Civil War Monuments Erected Over Time</h1> -->
              </div>
          </div>
          <button onclick="update(csv1)">Dataset 1</button>
          <button onclick="update(csv2)">Dataset 2</button>
          <div class="row">
              <div class="col-md-7">
                  <div id="scatter">
                      <!-- We append our chart here. -->
                  </div>
              </div>
              
          </div>
      </div>




          <!-- <div class="container">
            <div class="row" >
              <div class="col-6">
                <div id="map-id" style="width: 650px; height: 350px;"></div>
              </div>
            </div>
          </div> -->


        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1>Civil War Monuments Erected Over Time</h1>
        </div>
    </div>
    <button onclick="update(csv1)">Dataset 1</button>
    <button onclick="update(csv2)">Dataset 2</button>
    <div class="row">
        <div class="col-md-7">
            <div id="scatter">
                <!-- We append our chart here. -->
            </div>
        </div>
        
    </div>
</div> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>





<!-- 
    <div class="container">
        <div class="row"style="padding: 30px;">
            <div class="col-6"> </div>
                <p>Map1</p>
                <div id="map" style="width: 650px; height: 350px;"></div>
            </div>
            <div class="col-6">
                <p>Map2</p>
                <div id="map-id" style="width: 650px; height: 350px;"></div>
            </div>
        </div> -->
        


    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>

    <!-- Icons -->
    <script src="static/js/leaflet.extra-markers.min.js"></script>

    <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <!-- API Key -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>

    <!-- Our JavaScript -->
    <!-- <script type="text/javascript" src="/static/js/logic.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/graph_logic.js') }}"></script>

    <!-- <script src="terbear/graph_logic.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/logic3.js') }}"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <!-- Toggle Switch CSS/JS -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

  <!-- Icons -->
  <script src="static/js/leaflet.extra-markers.min.js"></script>

  <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

</body>

</html>
