<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

 </head>

<body>
  
  <div id="map" style="width: 700px; height: 400px;"></div>
  </body>
  <script type="text/javascript" src="/static/js/config.js"></script>
  <script type="text/javascript" src="/static/js/logic.js"></script>
  <script>setTimeout(function(){ confed(); }, 3500);</script>
  <!-- <script src="{{ url_for('static', filename='js/config.js') }}"></script> -->
</html>