html,
body {
  padding: 0;
  margin: 0;
}

.axis {
  font: 14px sans-serif;
}

/* .line {
  fill: rgb(173, 242, 245);
  stroke: rgb(255, 0, 0);
  stroke-width: 2px;
}; */

.myXaxis line{
  stroke: white;
}

.myXaxis path{
  stroke: white;
}

.myXaxis text{
  fill: white;
}

.myYaxis line{
  stroke: white;
}

.myYaxis path{
  stroke: white;
}

.myYaxis text{
  fill: white;
}